.leaflet-container {
    float: center;
    height: 95%;
    width: 99%;
    border-radius: 0 0 5px 5px;
    margin: auto;
  }

body {
  background: rgb(230, 226, 213);
}


.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;  
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.table-box {
  height: 50vh;
  width: 100%;
  border-radius: 10px;
  margin: 0 0 10px 5px;
}

.chart-control-bar-map {
  height: 35px;
  position: relative;
  /* z-index: 99999; */
  /* margin: -5px -10px 0 5px; */
  border-radius: 10px 10px 0 0;
  padding: 5px 10px 4px 10px;
  width: 100%;
  background-color: teal;
  /* margin-top: -20px; */
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.35);
     }
     100% {
          box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
     }
}

/* body {
    background-color: lightslategray;
} */

.pulse {
    animation: shadow-pulse 1s 6;
}


