.overlayLabel {
    background: rgba(255, 255, 255, 0);
    border:0;
    border-radius:0px;
    box-shadow: 0 0px 0px;
    font-size: 1.5em;
  }

  .overlayLabelSm {
    background: rgba(255, 255, 255, 0);
    border:0;
    border-radius:0px;
    box-shadow: 0 0px 0px;
    font-size: .8em;
  }

/* .label {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: -1em;
}

.label div {
  position: relative;
  left: -50%;
  top: 10px;
  text-shadow: 0px 2px 1px rgba(255,255,255,0.85);
} */